@model GlucoseAPI.Models.Entities.Patient

@{
    ViewData["Title"] = "Track Patient";
}
<body class="bg-dark">

    <h1>Add A Patient</h1>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddPatient">
                <div class="form-group">
                    <label class="control-label">Token</label>
                    <input name="token" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to Dashboard</a>
    </div>
</body>
