@model GlucoseAPI.Models.Entities.UserData

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserCredentials.Email" class="control-label"></label>
                <input asp-for="UserCredentials.Email" class="form-control" />
                <span asp-validation-for="UserCredentials.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCredentials.Password" class="control-label"></label>
                <input asp-for="UserCredentials.Password" class="form-control" />
                <span asp-validation-for="UserCredentials.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.FirstName" class="control-label"></label>
                <input asp-for="Doctor.FirstName" class="form-control" />
                <span asp-validation-for="Doctor.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.MiddleName" class="control-label"></label>
                <input asp-for="Doctor.MiddleName" class="form-control" />
                <span asp-validation-for="Doctor.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.LastName" class="control-label"></label>
                <input asp-for="Doctor.LastName" class="form-control" />
                <span asp-validation-for="Doctor.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.PhoneNumber" class="control-label"></label>
                <input asp-for="Doctor.PhoneNumber" class="form-control" />
                <span asp-validation-for="Doctor.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

