@model GlucoseAPI.Models.Entities.DoctorCreationBundle

@{
    ViewData["Title"] = "Create a New Doctor";

    //Assign the TempData BadLogin var.
    var existStatus = TempData["UserExists"];

    //Verify this is set.
    if (!(existStatus is null))
    {
        //If it was a bad login attemmpt show an error.
        if ((Boolean)existStatus)
        {
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <h4 class="alert-heading">Error!</h4>
                <p class="mb-0">User Exists</p>
            </div>
        }
    }
}

<h1>@ViewData["Title"]</h1>
<br />
<body class="bg-dark">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">E-Mail</label>
                    <input type="email" asp-for="Doctor.Email" class="form-control" />
                    <span asp- asp-validation-for="Doctor.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">First Name</label>
                    <input asp-for="Doctor.FirstName" class="form-control" />
                    <span asp-validation-for="Doctor.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Middle Name</label>
                    <input asp-for="Doctor.MiddleName" class="form-control" />
                    <span asp-validation-for="Doctor.MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <input asp-for="Doctor.LastName" class="form-control" />
                    <span asp-validation-for="Doctor.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Phone Number</label>
                    <input type="tel" asp-for="Doctor.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Doctor.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to Login</a>
    </div>
</body>

