@model IEnumerable<GlucoseAPI.Models.Entities.Patient>

@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>
<p></p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Full Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Patient Data
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @($"{item.LastName}, {item.FirstName}")
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td>
                    <form asp-controller="Data" asp-action="Index">
                        <input type="hidden" name="id" value="@item.UserId" />
                        <input class="btn btn-primary" type="submit" value="See Data">
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
