@model GlucoseAPI.Models.Entities.Credentials

@{
    //Title
    ViewData["Title"] = "Login to GlucoseTracker";

    //Assign the TempData BadLogin var.
    var loginStatus = TempData["BadLogin"];

    //Verify this is set.
    if (!(loginStatus is null))
    {
        //If it was a bad login attemmpt show an error.
        if ((Boolean)loginStatus)
        {
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <h4 class="alert-heading">Error!</h4>
                <p class="mb-0">Wrong Email or Password. Please Try Again.</p>
            </div>
        }
    }
}
<body class="bg-dark">
    <div class="text-center">
        <h1 class="display-4">Welcome to Glucose Tracker</h1>
    </div>
    <form asp-action="Login">
        <fieldset>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" for="email">Email address</label>
                <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label asp-for="Password" for="password">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a class="btn btn-secondary" asp-controller="Home" asp-action="Create">Register</a>
        </fieldset>
    </form>
</body>
