@using Microsoft.AspNetCore.Http
@using GlucoseAPI.Models.Entities;
@{ 
    string token = Context.Session.GetString("TokenAuth");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GlucoseTrackerWeb</title>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="nav-link" color="white" asp-controller="Home" asp-action="Index">GlucoseTracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @{
                if (!(Context.Session.GetString("TokenAuth") is null))
                {
                    <div><input type="checkbox" data-onstyle="success" data-offstyle="danger" onchange="toggleToken()" data-toggle="toggle" data-off="Token" data-on="Token" id="navToggler" /></div>

                    <div class="collapse navbar-collapse justify-content-end" id="navbarColor02">
                        <ul class="navbar-nav">
                            <li id="token" style="display: none" class="nav-item">
                                <a class="navbar-text" style="color: dimgrey;" color="grey">Token: @token.Substring(token.Length - 6, 6)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Logout" asp-controller="Home">Logout</a>
                            </li>
                        </ul>
                    </div>
                }
            }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script>
        function toggleToken() {
            let token = document.getElementById('token');
            let toggler = document.getElementById('navToggler')

            if (toggler.checked == true) {
                token.style.display = "block"
            }
            else {
                token.style.display = "none"
            }
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
