@using Microsoft.AspNetCore.Http
@using SessionExtensions = GlucoseAPI.Services.SessionExtensions;
@using GlucoseAPI.Models.Entities;


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GlucoseTrackerWeb</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="nav-link" color="white" asp-controller="Home" asp-action="Index">GlucoseTracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    @{
                        if (!(Context.Session.GetString("TokenAuth") is null))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Logout" asp-controller="Home">Logout</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
